<p id="notice"><%= notice %></p>

<h1>Listing Memberships</h1>

<table class="table table-striped table-hover align-middle table-responsive">
  <thead>
    <tr>
      <th>Organization</th>
      <th>User</th>
      <th>Admin?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr onclick="location.href='<%= membership_path(membership) %>'">
        <td><%= membership.organization.name %></td>
        <td><%= membership.user.name %></td>
        <td><%= membership.admin %></td>
        <td><%= link_to 'Leave', membership, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @memberships %>

<% if !@memberships.any? %>
  <p class="text-center">No Memberships Found.</p>
<% end %>

<br>

<%# <%= link_to 'New Membership', new_membership_path %>
