<p id="notice"><%= notice %></p>

<h1>Listing Memberships</h1>

<table class="table table-striped table-hover align-middle table-responsive">
  <thead>
    <tr>
      <th>Organization</th>
      <th>User</th>
      <th>Admin?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.organization.name %></td>
        <td><%= membership.user.name %></td>
        <td><%= membership.admin %></td>
        <td><%= link_to 'Show', membership %></td>
        <%# <td><%= link_to 'Edit', edit_membership_path(membership) %>
        <td><%= link_to 'Leave', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @memberships %>

<br>

<%# <%= link_to 'New Membership', new_membership_path %>
