<%= stylesheet_link_tag 'application', media: 'all' %>

<div class="formBody" style="margin-top:2%;" >

    <div class="customForm">

      <p id="notice"><%= notice %></p>
      <p>
        <strong>Organization:</strong>
        <%= @membership.organization.name %>
      </p>

      <p>
        <strong>User:</strong>
        <%= @membership.user.name %>
      </p>

      <p>
        <strong>Admin?:</strong>
        <%= @membership.admin %>
      </p>

      <%# <%= link_to 'Edit', edit_membership_path(@membership) %>
      
  </div>
  <%= link_to 'Back', :back, {:style=>'color:#FFFFFF text-decoration:none; margin-top:5px;', :class => "btn btn-secondary btn-sm"}   %>
</div>
