<p id="notice"><%= notice %></p>

<h1>Listing Rented Items</h1>

<%= form_tag(rented_items_path, method: :get) do %>
  <p> Search for an item </p>
  <%= text_field_tag(:search, params[:search]) %>
  <%= hidden_field_tag(:sort, params[:sort]) %>
  <%= submit_tag ("Search") %>
<% end %>

<table class="table table-striped table-hover align-middle table-responsive">
  <thead>
    <tr>
      <th><%= link_to "Organization", :sort => "organization", :search => params[:search]%></th>
      <th><%= link_to "Item ID", :sort => "item_id", :search => params[:search]%></th>
      <th><%= link_to "Helped By", :sort => "user_renting", :search => params[:search]%></th>
      <th><%= link_to "Rented By", :sort => "renter_name", :search => params[:search]%></th>
      <th><%= link_to "Phone Number", :sort => "phone_number", :search => params[:search]%></th>
      <th>Address</th>
      <th><%= link_to "Date Rented", :sort => "date_rented", :search => params[:search]%></th>
      <th><%= link_to "Return Date", :sort => "return_date", :search => params[:search]%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rented_items.each do |rented_item| %>
      <tr onclick="location.href='<%= rented_item_path(rented_item) %>'">
        <td><%= rented_item.organization.name %></td>
        <td><%= rented_item.item_id %></td>
        <td><%= rented_item.user_renting %></td>
        <td><%= rented_item.renter_name %></td>
        <td><%= number_to_phone(rented_item.phone_number, area_code: true) %></td>
        <td><%= rented_item.address %></td>
        <td><%= rented_item.date_rented %></td>
        <td><%= rented_item.return_date %></td>
        <td><%= link_to "Return", return_item_path_url(rented_item.id) %></td>
        <td><%= link_to 'Show', rented_item %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @rented_items %>

<% if !@rented_items.any? %>
  <p class="text-center">No Rented Items Found.</p>
<% end %>

<br>
