<p id="notice"><%= notice %></p>

<style>
table, th, td {
  border:1px solid black;
}
</style>

<h1>Inventory</h1>

<table style="width:100%">
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Organization</th>
      <th>Name</th>
      <th>Description</th>
      <th>Locations</th>
      <th>Quantity remaining</th>
      <th>Increase</th>
      <th>Decrease</th>
      <th>Rentable</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.organization %></td>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.location %></td>
        <td><%= item.quantity_remaining %>/<%= item.quantity_total %></td>
        <td><%= link_to "Increase", "increase_quantity/#{item.id}/1", :remote => true, :method => :put %></td>
        <td><%= link_to "Decrease", "decrease_quantity/#{item.id}/1", :remote => true, :method => :put %></td>
        <td><%= link_to "Rent", "rent_item/#{item.id}", :remote => true, :method => :put %></td> <%# Instead of checkout it will be a button that checks the item out %>
        <td><%= item.price %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
<%= button_to "Log in with Google", '/auth/google_oauth2'  %>
