<p id="notice"><%= notice %></p>

<h1>Listing Organizations</h1>

<%= form_tag(organizations_path, method: :get) do %>
  <p> Search for an item </p>
  <%= text_field_tag(:search, params[:search]) %>
  <%= hidden_field_tag(:sort, params[:sort]) %>
  <%= submit_tag ("Search") %>
<% end %>

<table class="table table-striped table-hover align-middle table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Join</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr onclick="location.href='<%= organization_path(organization) %>'">
        <td><%= link_to organization.name, organization %></td>
        <td><%= organization.description %></td>
        <td><%= number_to_phone(organization.phone_number, area_code: true) %></td>
        <td><%= organization.address %></td>
        <td><%= link_to "Join", join_org_path_url(organization.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @organizations %>

<br>

<%= link_to 'New Organization', new_organization_path, class: 'btn btn-secondary' %>
